/* ------------------------------------ */
/* Contact-Banner START */
/* ------------------------------------ */
.contact-banner .contact-bg-img {
  background-image: url("../img/contact.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  min-height: 320px;
}
