@media screen and (min-width: 320px) {
  .header-top-info .row div:first-child span {
    display: inline-block !important;
    margin-right: 1.5rem;
  }

  .register-btn {
    margin-right: 0 !important;
  }

  .navbar .logo img {
    width: 3rem;
  }

  .navbar .logo h1 {
    font-size: 1.3rem;
  }

  /* navbar_fixed START */
  /* .navbar.navbar_fixed {
    position: fixed;
    max-width: 100% !important;
    display: flex;
    margin: 0;
    z-index: 1000;
    padding: 0 7%;
    top: -70px;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-transform: translateY(70px);
    -moz-transform: translateY(70px);
    -ms-transform: translateY(70px);
    -o-transform: translateY(70px);
    transform: translateY(70px);
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, .1);
  }

  nav.navbar.navbar_fixed .logo a img {
    width: 3rem;
  } */
  /* navbar_fixed END */
  .banner {
    background-image: url("../img/mob-02.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    color: white;
    text-align: center;
    min-height: 225px;
    /* height: 100px !important; */
  }

  .container.banner-container {
    width: 17rem !important;
    margin: 0;
    padding: 0;
  }

  .hero-slider {
    width: 87%;
    margin: 0 auto;
    padding: .5rem 0;
  }

  .hero-title {
    font-size: 1rem;
    padding: 0.5rem 0;
  }

  .hero-content .text {
    font-size: .6rem;
    width: 85%;
    margin: 0 auto;
    padding: 0px;
  }

  .hero-content .btn {
    padding: 0.3rem;
    margin: 0.6rem 0 0 0;
  }

  .hero-btn {
    width: 100px;
    font-size: .5rem;
  }
}

@media screen and (min-width: 620px) {
  .navbar .logo h1 {
    font-size: 1.5rem;
  }

  .banner {
    min-height: 300px;
  }

  .container.banner-container {
    width: 21rem !important
  }

  .hero-title {
    font-size: 1.3rem;
  }

  .hero-content .text {
    font-size: 0.7rem;
    padding: 0.6rem 0 1rem 0;
  }

  .hero-btn {
    width: 140px;
    font-size: 0.8rem;
  }

  .hero-content .btn {
    padding: 0.55rem;
    margin: 0.4rem 0;
  }
}

@media screen and (min-width: 768px) {
  .navbar .logo img {
    width: 4rem;
  }

  .navbar .logo h1 {
    font-size: 2rem;
  }

  .banner {
    min-height: 435px;
  }

  .container.banner-container {
    width: 27.5rem !important
  }

  .hero-slider {
    width: 87%;
    margin: 0 auto;
    padding: 2rem 0;
  }

  .hero-title {
    font-size: 1.6rem;
    padding: 0.6rem 0;
  }

  .hero-content .text {
    font-size: 1.05rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  /* .btn {
    padding: 0.55rem;
    margin: 0.4rem 0;
  } */
  .hero-btn {
    width: 140px;
    font-size: 1.05rem;
  }

  .welcome .row>div:first-child {
    grid-template-columns: repeat(4, 1fr);
  }

  .why .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .why .item {
    text-align: left;
  }

  .why .item img {
    margin-left: 0;
  }

  .why .container>p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 992px) {
  .header-top-info .row {
    display: flex;
    justify-content: space-between !important;
  }

  .header-top-info .row div:first-child {
    display: flex;
    align-items: center;
  }

  .header-top-info .row div:first-child span {
    margin-bottom: 0;
  }

  .header-top-info .row div:first-child p {
    margin-right: 1rem;
  }

  .navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1280px;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar .container {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .navbar .logo img {
    width: 4rem;
  }

  .navbar .logo h1 {
    font-size: 1.5rem;
    margin-left: 1em;
  }

  .navbar-show-btn {
    display: none;
  }

  .navbar-hide-btn {
    display: none;
  }

  .navbar-nav {
    display: flex;
    padding-right: 0;
  }

  .navbar-collapse {
    flex: 1 0 auto;
    transform: translateX(0);
    position: static;
    width: auto;
    background: transparent;
    border-left: 0;
    display: flex;
    justify-content: flex-end;
  }

  .navbar-nav li {
    border-bottom: 0;
    margin: 0 0.9rem;
  }

  .navbar-nav li a {
    padding: 0.5rem 0.2rem;
    position: relative;
    transition: all 0.3s ease-in-out;
  }

  .navbar-nav li a.remaining-page:hover {
    color: #12a4d9 !important;
  }

  .navbar-nav li a:hover {
    padding-left: 0.2rem;
  }

  .navbar-nav li a.remaining-page::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #12a4d9;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .navbar-nav li a.remaining-page:hover::after {
    width: 100%;
    left: 0;
  }

  .navbar-nav li a.current-page {
    color: #ffc001 !important;
  }

  /* navbar_fixed START */
  .navbar.navbar_fixed {
    padding: 0 4%;
  }

  /* .navbar.navbar_fixed {
    position: fixed;
    max-width: 100% !important;
    display: flex;
    margin: 0;
    z-index: 1000;
    padding: 0 7%;
    top: -70px;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-transform: translateY(70px);
    -moz-transform: translateY(70px);
    -ms-transform: translateY(70px);
    -o-transform: translateY(70px);
    transform: translateY(70px);
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, .1);
  }

  nav.navbar.navbar_fixed .logo a img {
    width: 3rem;
  } */
  /* navbar_fixed END */
  .banner {
    background-image: url("../img/02.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    min-height: 500px;
  }

  .container.banner-container {
    width: 43rem !important;
    margin: 0;
    padding: 0;
  }

  .hero-content {
    padding-top: 3rem;
  }

  .welcome .row>div:last-child {
    display: block;
  }

  .welcome .row {
    display: grid;
    grid-template-columns: 70% 30%;
  }

  .why .row {
    grid-template-columns: repeat(3, 1fr);
  }

  .why .container>p {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 2.4rem;
  }

  .hero-content .text {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}
