a {
  color: #322e2f;
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0.6rem 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

button {
  outline: 0;
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 0.55rem;
  font-weight: 600;
  border: none;
  margin: 0.4rem 0;
  letter-spacing: 1px;
}

.primary-btn {
  background: #12a4d9;
  color: #fff;
  font-weight: 400;
  border-radius: 2rem;
  padding: 0.55rem 1rem;
  transition: all 0.4s ease-in-out;
}

.primary-btn:hover {
  background: #0e80aa;
}

.text {
  color: #ffc001;
  padding: 0.6rem 0;
}

.lg-text {
  font-weight: 600;
  font-size: 1.2rem;
}

/* section {
  padding: 4rem 0;
} */
.title {
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Robot', sans-serif;
}

.title-md h3 {
  letter-spacing: 2px;
  word-spacing: 2px;
  font-size: 2rem;
  text-align: center;
}

.title-sm h3 {
  font-size: 1.5rem;
  text-align: left;
}

.line {
  background: #12a4d9;
  height: 3px;
  width: 7.25rem;
  margin: 0 auto 1.5rem auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* stopping transition during resizing */
.resize-transition-stopper * {
  transition: none !important;
}
